<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60477658367-r4mra03kmcct049msardmict12qvtmur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60477658367-r4mra03kmcct049msardmict12qvtmur</string>
	<key>API_KEY</key>
	<string>AIzaSyBK323dXYp0sLxCQTpH5KiNwfB7w81RKnw</string>
	<key>GCM_SENDER_ID</key>
	<string>60477658367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebasePhoneAuth</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-962c4</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-962c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60477658367:ios:6967b15bad8e13f8f528ca</string>
	<key>DATABASE_URL</key>
	<string>https://phoneauth-962c4.firebaseio.com</string>
</dict>
</plist>